html,
body {
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/** 设置图片居中显示并带有阴影效果 **/
img {
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    /*IE8语法,不同的IE版本不一样*/
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray')";
    /*IE6,IE7语法*/
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray');
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:8px;
    margin-bottom:15px;
    max-width: 100%;
    height: auto;
}

/*去掉超链接的下标*/
a {
  color: #1e6bb8;
  text-decoration:none;
}

/*3D文本*/
.text3d {
  color: #fafafa;
  letter-spacing: 0;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 8px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 20px #333, 0px 8px 7px #001135;
}

.overview {
  padding: 6% 15% 1% 15%;
  min-height: 512px;
}

.headline {
  font-style: italic;
  font-size: x-large;
}

ol.archive {
  list-style-type: none;
}

.itemdate {
  padding-top: 1px;
  float: left;
  width: 25%;
  color: #555;
  text-align: right;
  font-style: italic;
}

.itemtitle {
  margin-left: 32%;
  text-decoration: none;
  padding: 1px;
  color: #204A87;
  word-wrap: break-word;
  word-break: break-all;
}

#footer {
  margin-bottom:1%;
  text-align:center;
}
